.lib/
temp/
*.temp
pass.*
clave.txt
*.exe
/config
/videos
/imagenes
/cheet_python
*.sqbpro
/MiPrimeraApp/*.iml
.gradle
/MiPrimeraApp/local.properties
/MiPrimeraApp/.idea/caches
/MiPrimeraApp/.idea/libraries
/MiPrimeraApp/.idea/modules.xml
/MiPrimeraApp/.idea/workspace.xml
/MiPrimeraApp/.idea/navEditor.xml
/MiPrimeraApp//.idea/assetWizardSettings.xml
/MiPrimeraApp/.DS_Store
/MiPrimeraApp/build
/captures
/MiPrimeraApp/.externalNativeBuild
/MiPrimeraApp/.cxx
/MiPrimeraApp/local.properties